@using RazorEngine.Templating
@using ConsoleApplication
@using System.Linq

@inherits  TemplateBase<Class1>


<p>The great stuff you bought was:</p>
<ul>
    @foreach (var line in new List<string>() { "" }.Select(t => t))
    {
        <li>@line</li>
    }
</ul>
<h3>Thanks for shopping at BuyMore</h3>
